.btn {
  display: block;
  margin-top: 15px;
  padding: 10px 12px;
  font-size: var(--medium-extra-size);
  border: 2px solid var(--primary-500);
  color: var(--gray-00);
  background-color: var(--primary-500);
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    color: var(--primary-500);
    background-color: var(--gray-00);
  }
}
