form.add-category {
  h1 {
    margin-bottom: 20px;
  }
  label {
    margin-right: 5px;
    background-color: var(--primary-500);
    border-radius: 4px;
    padding: 10px 12px;
    color: var(--gray-00);
    font-size: var(--medium-extra-size);
    border: 2px solid var(--primary-500);
  }
  input {
    padding: 10px 12px;
    border: 2px solid var(--primary-500);
    outline: none;
    border-radius: 4px;
    background-color: var(--primary-200);
    color: var(--primary-700);
    font-size: var(--medium-extra-size);
  }
  button {
    display: block;
    margin-top: 15px;
    padding: 10px 12px;
    font-size: var(--medium-extra-size);
    border: 2px solid var(--primary-500);
    color: var(--gray-00);
    background-color: var(--primary-500);
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      color: var(--primary-500);
      background-color: var(--gray-00);
    }
  }
  p {
    color: var(--danger-500);
    margin-top: 10px;
    font-size: var(--medium-extra-size);
    font-weight: var(--bold-weight);
  }
}
