.show-user {
  h1 {
    margin-bottom: 20px;
  }
  h3 {
    font-size: var(--big-size);
    margin-bottom: 15px;
    span {
      color: var(--secondary-600);
    }
  }
  p {
    span {
      font-size: var(--medium-extra-size);
      color: var(--secondary-600);
      font-weight: var(--bold-weight);
    }
    margin-bottom: 10px;
  }
}
