.sign-up {
  margin-top: 200px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 40px;
  @include small {
    padding: 0 10px 20px;
    margin-top: 180px;
  }
  form {
    width: 350px;
    padding: 20px;
    box-shadow: 0px 8px 40px 0px rgba(0, 0, 0, 0.12);
    border: 1px solid var(--gray-100);
    border-radius: 4px;
    h1 {
      text-align: center;
      margin-bottom: 20px;
    }
    > div {
      margin-bottom: 20px;
      display: flex;
      flex-direction: column;
      &:last-of-type {
        flex-direction: row;
        align-items: start;
        input {
          margin-right: 15px;
          width: 32px;
          height: 32px;
          border-radius: 2px;
          transform: translateY(-3px);
        }
        label {
          span {
            color: var(--secondary-500);
          }
        }
      }
      label {
        font-size: var(--small-size);
        margin-bottom: 5px;
        font-weight: var(--normal-extra-weight);
      }
      input {
        border-radius: 2px;
        border: 1px solid var(--gray-100);
        outline: none;
        padding: 12px 15px;
      }
    }
    button {
      border: none;
      padding: 15px 20px;
      background-color: var(--primary-500);
      color: var(--gray-00);
      cursor: pointer;
      width: 100%;
      border-radius: 2px;
      font-size: var(--big-light-size);
      font-weight: var(--bold-weight);
    }
    p {
      color: var(--danger-500);
      margin-top: 5px;
    }
  }
}
