// Style Sign Up Page
.sign-up {
  width: 100%;
  padding-bottom: 40px;
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  @include small {
    padding: 0 10px 20px;
    margin-top: 180px;
  }
  form {
    width: 350px;
    padding: 20px;
    border: 1px solid var(--gray-100);
    border-radius: 4px;
    box-shadow: 0px 8px 40px 0px rgba(0, 0, 0, 0.12);
    h1 {
      margin-bottom: 20px;
      text-align: center;
    }
    > div {
      margin-bottom: 20px;
      display: flex;
      flex-direction: column;
      &:last-of-type {
        align-items: start;
        flex-direction: row;
        input {
          margin-right: 15px;
          border-radius: 2px;
          width: 32px;
          height: 32px;
          transform: translateY(-3px);
        }
        label {
          span {
            color: var(--secondary-500);
          }
        }
      }
      label {
        margin-bottom: 5px;
        font-size: var(--small-size);
        font-weight: var(--normal-extra-weight);
      }
      input {
        padding: 12px 15px;
        border: 1px solid var(--gray-100);
        border-radius: 2px;
        outline: none;
      }
    }
    button {
      width: 100%;
      padding: 15px 20px;
      border: none;
      border-radius: 2px;
      background-color: var(--primary-500);
      color: var(--gray-00);
      font-size: var(--big-light-size);
      font-weight: var(--bold-weight);
      cursor: pointer;
    }
    p {
      margin-top: 5px;
      color: var(--danger-500);
    }
  }
}
