.users,
.products-dash,
.categories-dash {
  @include small {
    font-size: var(--small-size);
  }
  table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    overflow: hidden;
    tr:nth-child(even) {
      background-color: rgb(255 231 214 / 50%);
    }
    th,
    td {
      padding: 12px;
      border: 1px solid var(--gray-200);
      text-align: center;
      @include small {
        padding: 8px;
      }
    }
    th {
      background-color: var(--primary-500);
      color: var(--gray-00);
    }
    td,
    th {
      overflow: hidden;
      text-overflow: ellipsis;
      @include small {
        overflow: scroll;
        text-overflow: clip;
      }
      a {
        color: var(--gray-900);
        i {
          font-size: var(--big-size);
          transition: 0.3s;
          @include small {
            font-size: var(--medium-size);
          }
          &.delete {
            margin-right: 10px;
            color: var(--danger-500);
          }
          &.edit {
            color: var(--success-500);
          }
          &.show {
            color: var(--secondary-500);
            margin-left: 10px;
          }
        }
      }
    }
  }
}

.categories-dash,
.products-dash {
  img {
    width: 50px;
  }
}
