@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  /* ------------------------------------------ */
  --small-size: 0.875rem;
  --medium-size: 1rem;
  --medium-extra-size: 1.125rem;
  --big-light-size: 1.25rem;
  --big-size: 1.5rem;
  --big-extra-size: 1.75rem;
  --biggest-light-size: 2rem;
  --biggest-size: 2.375rem;
  --biggest-extra-size: 3rem;
  --light-weight: 200;
  --light-extra-weight: 300;
  --normal-weight: 400;
  --normal-extra-weight: 500;
  --bold-weight: 600;
  --bold-extra-weight: 800;
  --main-family: "Public Sans";
  /* ------------------------------------------ */
  --gray-900: #191c1f;
  --gray-800: #303639;
  --gray-700: #475156;
  --gray-600: #5f6c72;
  --gray-500: #77878f;
  --gray-400: #929fa5;
  --gray-300: #adb7bc;
  --gray-200: #c9cfd2;
  --gray-100: #e4e7e9;
  --gray-50: #f2f4f5;
  --gray-00: #fff;
  --primary-900: #331b0a;
  --primary-800: #663514;
  --primary-700: #99501f;
  --primary-600: #de732d;
  --primary-500: #fa8232;
  --primary-400: #ff9d5c;
  --primary-300: #ffb685;
  --primary-200: #ffcead;
  --primary-100: #ffe7d6;
  --primary-50: #fff3eb;
  --secondary-900: #092131;
  --secondary-800: #124261;
  --secondary-700: #1b6392;
  --secondary-600: #2484c2;
  --secondary-500: #2da5f3;
  --secondary-400: #57b7f5;
  --secondary-300: #81c9f8;
  --secondary-200: #abdbfa;
  --secondary-100: #d5edfd;
  --secondary-50: #eaf6fe;
  --success-900: #092407;
  --success-800: #12470e;
  --success-700: #1b6b16;
  --success-600: #248e1d;
  --success-500: #2db224;
  --success-400: #57c150;
  --success-300: #81d17c;
  --success-200: #abe0a7;
  --success-100: #d5f0d3;
  --success-50: #eaf7e9;
  --warning-900: #2f2802;
  --warning-800: #5e5005;
  --warning-700: #8d7807;
  --warning-600: #bca00a;
  --warning-500: #ebc80c;
  --warning-400: #efd33d;
  --warning-300: #f3de6d;
  --warning-200: #f7e99e;
  --warning-100: #fbf4ce;
  --warning-50: #fdfae7;
  --danger-900: #301212;
  --danger-800: #5f2323;
  --danger-700: #8f3535;
  --danger-600: #be4646;
  --danger-500: #ee5858;
  --danger-400: #f17979;
  --danger-300: #f59b9b;
  --danger-200: #f8bcbc;
  --danger-100: #fcdede;
  --danger-50: #fdeeee;
  /* ------------------------------------------ */
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--main-family);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button,
input,
textarea {
  font-family: var(--main-family);
}

header.main-header .logo {
  display: flex;
  align-items: center;
}
header.main-header .logo img {
  margin-right: 10px;
}
@media (max-width: 576px) {
  header.main-header .logo img {
    margin-right: 5px;
  }
}
header.main-header .logo h1 {
  color: var(--gray-00);
}
@media (max-width: 576px) {
  header.main-header .logo h1 {
    font-size: var(--big-light-size);
  }
}

header.main-header .search-header {
  position: relative;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1024px) {
  header.main-header .search-header {
    width: 300px;
  }
}
@media (max-width: 576px) {
  header.main-header .search-header {
    display: none;
  }
}
header.main-header .search-header input {
  width: 100%;
  padding: 12px 20px;
  font-size: var(--medium-extra-size);
  font-family: var(--main-family);
  border: none;
  border-radius: 2px;
  outline: none;
  background-color: var(--gray-00);
}
header.main-header .search-header input::placeholder {
  color: var(--gray-500);
}
header.main-header .search-header > i {
  position: absolute;
  right: 12px;
  top: 50%;
  width: 20px;
  height: 20px;
  font-size: var(--big-light-size);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: var(--bold-weight);
  color: var(--secondary-700);
  transform: translateY(-50%);
}

.container {
  width: 75%;
  margin: 0 auto;
}
@media (max-width: 1024px) {
  .container {
    width: 80%;
  }
}
@media (max-width: 768px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }
}

.top-header {
  width: 100%;
  height: 40px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-700);
  z-index: 1001;
  border-bottom: 2px solid var(--gray-300);
  padding: 10px 0;
}
@media (max-width: 576px) {
  .top-header {
    height: 50px;
  }
}
.top-header .container > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--gray-00);
}
@media (max-width: 576px) {
  .top-header .container > div {
    font-size: 12px;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 576px) {
  .top-header .container > div p {
    margin-bottom: 4px;
  }
}
.top-header .container > div > div span {
  margin-right: 8px;
}
.top-header .container > div > div i {
  font-size: var(--big-light-size);
  cursor: pointer;
}
.top-header .container > div > div i:not(:last-of-type) {
  margin-right: 5px;
}

header.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  background-color: var(--secondary-700);
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.75);
  margin-top: 40px;
  z-index: 1000;
}
@media (max-width: 576px) {
  header.main-header {
    height: 80px;
    margin-top: 50px;
  }
}
header.main-header .container > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header.main-header .container > div .right {
  display: flex;
  align-items: center;
}
header.main-header .container > div .right a {
  position: relative;
}
header.main-header .container > div .right a:not(:last-of-type) {
  margin-right: 15px;
}
@media (max-width: 576px) {
  header.main-header .container > div .right a:not(:last-of-type) {
    margin-right: 12px;
  }
}
header.main-header .container > div .right a span {
  position: absolute;
  top: -7px;
  right: -8px;
  color: var(--secondary-700);
  width: 20px;
  height: 20px;
  background-color: var(--gray-00);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 12px;
  border: 2px solid var(--secondary-700);
}
header.main-header .container > div .right a > i {
  display: block;
  font-size: var(--big-size);
  color: var(--gray-00);
}

.cart-page {
  margin-top: 140px;
}

.fav-page {
  margin-top: 140px;
}

.user-page {
  margin-top: 140px;
}

/*# sourceMappingURL=main.css.map */
