@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  /* ------------------------------------------ */
  --small-size: 0.875rem;
  --medium-size: 1rem;
  --medium-extra-size: 1.125rem;
  --big-light-size: 1.25rem;
  --big-size: 1.5rem;
  --big-extra-size: 1.75rem;
  --biggest-light-size: 2rem;
  --biggest-size: 2.375rem;
  --biggest-extra-size: 3rem;
  --light-weight: 200;
  --light-extra-weight: 300;
  --normal-weight: 400;
  --normal-extra-weight: 500;
  --bold-weight: 600;
  --bold-extra-weight: 800;
  --main-family: "Public Sans";
  /* ------------------------------------------ */
  --gray-900: #191c1f;
  --gray-800: #303639;
  --gray-700: #475156;
  --gray-600: #5f6c72;
  --gray-500: #77878f;
  --gray-400: #929fa5;
  --gray-300: #adb7bc;
  --gray-200: #c9cfd2;
  --gray-100: #e4e7e9;
  --gray-50: #f2f4f5;
  --gray-00: #fff;
  --primary-900: #331b0a;
  --primary-800: #663514;
  --primary-700: #99501f;
  --primary-600: #de732d;
  --primary-500: #fa8232;
  --primary-400: #ff9d5c;
  --primary-300: #ffb685;
  --primary-200: #ffcead;
  --primary-100: #ffe7d6;
  --primary-50: #fff3eb;
  --secondary-900: #092131;
  --secondary-800: #124261;
  --secondary-700: #1b6392;
  --secondary-600: #2484c2;
  --secondary-500: #2da5f3;
  --secondary-400: #57b7f5;
  --secondary-300: #81c9f8;
  --secondary-200: #abdbfa;
  --secondary-100: #d5edfd;
  --secondary-50: #eaf6fe;
  --success-900: #092407;
  --success-800: #12470e;
  --success-700: #1b6b16;
  --success-600: #248e1d;
  --success-500: #2db224;
  --success-400: #57c150;
  --success-300: #81d17c;
  --success-200: #abe0a7;
  --success-100: #d5f0d3;
  --success-50: #eaf7e9;
  --warning-900: #2f2802;
  --warning-800: #5e5005;
  --warning-700: #8d7807;
  --warning-600: #bca00a;
  --warning-500: #ebc80c;
  --warning-400: #efd33d;
  --warning-300: #f3de6d;
  --warning-200: #f7e99e;
  --warning-100: #fbf4ce;
  --warning-50: #fdfae7;
  --danger-900: #301212;
  --danger-800: #5f2323;
  --danger-700: #8f3535;
  --danger-600: #be4646;
  --danger-500: #ee5858;
  --danger-400: #f17979;
  --danger-300: #f59b9b;
  --danger-200: #f8bcbc;
  --danger-100: #fcdede;
  --danger-50: #fdeeee;
  /* ------------------------------------------ */
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: var(--main-family);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button,
input,
textarea {
  font-family: var(--main-family);
}

@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  z-index: 10001;
  background-color: rgba(255, 255, 255, 0.5);
}
.loading .lds-roller {
  position: relative;
  width: 100px;
  height: 100px;
}
.loading .lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.loading .lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: var(--gray-900);
  margin: -4px 0 0 -4px;
}
.loading .lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.loading .lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.loading .lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.loading .lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.loading .lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.loading .lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.loading .lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.loading .lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.loading .lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.loading .lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.loading .lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.loading .lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.loading .lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.loading .lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.loading .lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.loading .lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}

header.main-header .logo {
  display: flex;
  align-items: center;
}
header.main-header .logo img {
  margin-right: 10px;
}
@media (max-width: 576px) {
  header.main-header .logo img {
    margin-right: 5px;
  }
}
header.main-header .logo h1 {
  color: var(--gray-00);
}
@media (max-width: 576px) {
  header.main-header .logo h1 {
    font-size: var(--big-light-size);
  }
}

header.main-header .search-header {
  position: relative;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1024px) {
  header.main-header .search-header {
    width: 300px;
  }
}
@media (max-width: 576px) {
  header.main-header .search-header {
    display: none;
  }
}
header.main-header .search-header input {
  width: 100%;
  padding: 12px 20px;
  font-size: var(--medium-extra-size);
  font-family: var(--main-family);
  border: none;
  border-radius: 2px;
  outline: none;
  background-color: var(--gray-00);
}
header.main-header .search-header input::placeholder {
  color: var(--gray-500);
}
header.main-header .search-header > i {
  position: absolute;
  right: 12px;
  top: 50%;
  width: 20px;
  height: 20px;
  font-size: var(--big-light-size);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: var(--bold-weight);
  color: var(--secondary-700);
  transform: translateY(-50%);
}

.container {
  width: 75%;
  margin: 0 auto;
}
@media (max-width: 1024px) {
  .container {
    width: 80%;
  }
}
@media (max-width: 768px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }
}

.top-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  padding: 10px 0;
  border-bottom: 2px solid var(--gray-300);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-700);
  z-index: 1001;
}
@media (max-width: 576px) {
  .top-header {
    height: 50px;
  }
}
.top-header .container > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--gray-00);
}
@media (max-width: 576px) {
  .top-header .container > div {
    font-size: 12px;
    justify-content: center;
    flex-wrap: wrap;
  }
}
@media (max-width: 576px) {
  .top-header .container > div p {
    margin-bottom: 4px;
  }
}
.top-header .container > div > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-header .container > div > div span {
  margin-right: 8px;
}
.top-header .container > div > div i {
  font-size: var(--big-light-size);
  cursor: pointer;
}
.top-header .container > div > div i:not(:last-of-type) {
  margin-right: 5px;
}

header.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  margin-top: 40px;
  display: flex;
  align-items: center;
  background-color: var(--secondary-700);
  z-index: 1000;
}
@media (max-width: 576px) {
  header.main-header {
    height: 80px;
    margin-top: 50px;
  }
}
header.main-header.dash {
  margin-top: 0px;
}
header.main-header .container > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header.main-header .container > div .right {
  display: flex;
  align-items: center;
}
header.main-header .container > div .right a {
  position: relative;
}
header.main-header .container > div .right a:not(:last-of-type) {
  margin-right: 15px;
}
@media (max-width: 576px) {
  header.main-header .container > div .right a:not(:last-of-type) {
    margin-right: 12px;
  }
}
header.main-header .container > div .right a span {
  position: absolute;
  top: -7px;
  right: -8px;
  width: 20px;
  height: 20px;
  border: 2px solid var(--secondary-700);
  border-radius: 50%;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--gray-00);
  color: var(--secondary-700);
}
header.main-header .container > div .right a > i {
  display: block;
  font-size: var(--big-size);
  color: var(--gray-00);
}

footer.main-footer {
  position: absolute;
  left: 0;
  bottom: 50px;
  padding: 50px 0;
  background-color: var(--gray-900);
}
footer.main-footer .container > div {
  display: flex;
  flex-wrap: wrap;
}
footer.main-footer .container > div p {
  color: var(--gray-00);
}
footer.main-footer .container > div p.gray {
  color: var(--gray-400);
}
footer.main-footer .container > div .foot-one {
  width: 30%;
}
@media (max-width: 768px) {
  footer.main-footer .container > div .foot-one {
    width: 50%;
  }
}
@media (max-width: 576px) {
  footer.main-footer .container > div .foot-one {
    width: 100%;
  }
}
footer.main-footer .container > div .foot-one .top {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
footer.main-footer .container > div .foot-one .top p:not(:last-of-type) {
  margin-bottom: 10px;
}
@media (max-width: 576px) {
  footer.main-footer .container > div .foot-one .top {
    justify-content: center;
  }
}
footer.main-footer .container > div .foot-one .top h3 {
  font-size: var(--big-extra-size);
  color: var(--gray-00);
}
footer.main-footer .container > div .foot-one .top img {
  margin-right: 10px;
}
footer.main-footer .container > div .foot-two,
footer.main-footer .container > div .foot-three {
  width: 20%;
  padding: 0 20px;
}
@media (max-width: 768px) {
  footer.main-footer .container > div .foot-two,
  footer.main-footer .container > div .foot-three {
    width: 50%;
    padding: 0;
  }
}
@media (max-width: 576px) {
  footer.main-footer .container > div .foot-two,
  footer.main-footer .container > div .foot-three {
    width: 100%;
  }
}
footer.main-footer .container > div .foot-two p:first-of-type,
footer.main-footer .container > div .foot-three p:first-of-type {
  margin-bottom: 20px;
  font-size: var(--big-size);
  font-weight: var(--light-extra-weight);
}
footer.main-footer .container > div .foot-two p:not(:first-of-type):not(:last-of-type),
footer.main-footer .container > div .foot-three p:not(:first-of-type):not(:last-of-type) {
  margin-bottom: 10px;
}
footer.main-footer .container > div .foot-four {
  width: 30%;
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px) {
  footer.main-footer .container > div .foot-four {
    width: 50%;
  }
}
@media (max-width: 576px) {
  footer.main-footer .container > div .foot-four {
    width: 100%;
    margin-top: 30px;
  }
}
footer.main-footer .container > div .foot-four p:first-of-type {
  margin-bottom: 20px;
  font-size: var(--big-size);
  font-weight: var(--light-extra-weight);
}
footer.main-footer .container > div .foot-four > div {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
footer.main-footer .container > div .foot-four > div span {
  padding: 8px 10px;
  border: 1px solid var(--gray-800);
  border-radius: 2px;
  color: var(--gray-00);
  transition: 0.3s;
}
footer.main-footer .container > div .foot-four > div span:hover {
  border-color: var(--gray-00);
  background-color: var(--gray-800);
}
@media (max-width: 768px) {
  footer.main-footer .container > div .foot-one,
  footer.main-footer .container > div .foot-two {
    margin-bottom: 30px;
  }
}
@media (max-width: 576px) {
  footer.main-footer .container > div .foot-one,
  footer.main-footer .container > div .foot-two,
  footer.main-footer .container > div .foot-three,
  footer.main-footer .container > div .foot-four {
    text-align: center;
  }
}
footer.main-footer .foot {
  position: absolute;
  bottom: -50px;
  width: 100%;
  height: 50px;
  padding: 0 10px;
  border-top: 1px solid var(--gray-300);
  font-size: var(--small-size);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--gray-900);
  color: var(--gray-300);
}
@media (max-width: 576px) {
  footer.main-footer .foot {
    font-size: 12px;
  }
}
footer.main-footer .foot span {
  font-size: var(--big-light-size);
  font-weight: var(--bold-weight);
  color: var(--danger-600);
}
@media (max-width: 576px) {
  footer.main-footer .foot span {
    font-size: var(--medium-size);
  }
}

.side-dash {
  position: fixed;
  width: 25%;
  height: calc(100vh - 100px);
  left: 10px;
  top: 115px;
}
.side-dash > div {
  box-shadow: 0px 8px 40px 0px rgba(0, 0, 0, 0.08);
  border: 1px solid var(--gray-100);
  border-radius: 4px;
  padding: 10px 0;
}
.side-dash > div ul {
  width: 100%;
}
.side-dash > div ul li {
  width: 100%;
}
.side-dash > div ul li a {
  display: block;
  width: 100%;
  padding: 15px 25px;
  color: var(--gray-600);
  background-color: var(--gray-00);
  transition: 0.3s;
}
.side-dash > div ul li a.active {
  color: var(--gray-00);
  background-color: var(--primary-500);
}
.side-dash > div ul li a i {
  margin-right: 10px;
}

.sign-up {
  width: 100%;
  padding-bottom: 40px;
  margin-top: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 576px) {
  .sign-up {
    padding: 0 10px 20px;
    margin-top: 180px;
  }
}
.sign-up form {
  width: 350px;
  padding: 20px;
  border: 1px solid var(--gray-100);
  border-radius: 4px;
  box-shadow: 0px 8px 40px 0px rgba(0, 0, 0, 0.12);
}
.sign-up form h1 {
  margin-bottom: 20px;
  text-align: center;
}
.sign-up form > div {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}
.sign-up form > div:last-of-type {
  align-items: start;
  flex-direction: row;
}
.sign-up form > div:last-of-type input {
  margin-right: 15px;
  border-radius: 2px;
  width: 32px;
  height: 32px;
  transform: translateY(-3px);
}
.sign-up form > div:last-of-type label span {
  color: var(--secondary-500);
}
.sign-up form > div label {
  margin-bottom: 5px;
  font-size: var(--small-size);
  font-weight: var(--normal-extra-weight);
}
.sign-up form > div input {
  padding: 12px 15px;
  border: 1px solid var(--gray-100);
  border-radius: 2px;
  outline: none;
}
.sign-up form button {
  width: 100%;
  padding: 15px 20px;
  border: none;
  border-radius: 2px;
  background-color: var(--primary-500);
  color: var(--gray-00);
  font-size: var(--big-light-size);
  font-weight: var(--bold-weight);
  cursor: pointer;
}
.sign-up form p {
  margin-top: 5px;
  color: var(--danger-500);
}
.sign-up form .p-login,
.sign-up form .p-signup {
  margin-top: 15px;
  color: var(--gray-900);
  display: flex;
  align-items: center;
}
.sign-up form .p-login i,
.sign-up form .p-signup i {
  margin-right: 5px;
  color: var(--secondary-500);
  font-size: var(--big-light-size);
}
.sign-up form .p-login a,
.sign-up form .p-signup a {
  color: var(--secondary-500);
  font-weight: var(--bold-weight);
  margin-left: 5px;
  transition: 0.3s;
}
.sign-up form .p-login a:hover,
.sign-up form .p-signup a:hover {
  color: var(--secondary-700);
}
.sign-up form .p-login {
  font-size: var(--small-size);
}

.home-page {
  margin-top: 140px;
}

.cart-page {
  margin-top: 140px;
}

.fav-page {
  margin-top: 140px;
}

.user-page {
  margin-top: 140px;
}

.dashboard {
  position: relative;
}
.dashboard main {
  width: calc(75% - 10px);
  margin-left: calc(25% + 10px);
  margin-top: 115px;
}

.users {
  padding: 0 20px 20px;
}
.users table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  overflow: hidden;
}
.users table tr:nth-child(even) {
  background-color: rgba(255, 231, 214, 0.5);
}
.users table th,
.users table td {
  padding: 12px;
  border: 1px solid var(--gray-200);
  text-align: center;
}
.users table th {
  background-color: var(--primary-500);
  color: var(--gray-00);
}
.users table td {
  overflow: hidden;
  text-overflow: ellipsis;
}
.users table td a {
  color: var(--gray-900);
}
.users table td a i {
  font-size: var(--big-size);
  transition: 0.3s;
}
.users table td a i.delete {
  margin-right: 10px;
}
.users table td a i.delete:hover {
  color: var(--danger-500);
  margin-right: 10px;
}
.users table td a i.edit:hover {
  color: var(--success-500);
}

/*# sourceMappingURL=main.css.map */
